<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="http://front.dog/favicon.ico">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index_api.js"></script>
    <title>至瓜</title>
</head>

<body>
    <div class="vi-container">
        <div class="vi-header">
            <h1 class="vi-title">掏粪工的自留地🐕</h1>
            <h4 class="vi-subtitle">随手注册，不需要手机号邮箱😒</h4>
        </div>
        <div class="vi-form">
            <div class="vi-tab">
                <a id="id-a-signup" href="#">注册</a>
                <a id="id-a-login" href="#">登录</a>
                <div class="vi-block"></div>
            </div>
            <div id="id-div-signup">
                <div class="vi-form-textinput">
                    <div class="vi-input-wrapper">
                        <input id="id-input-username" type="text" placeholder="想一个用户名" required/>
                    </div>
                    <div class="vi-input-wrapper">
                        <input id="id-input-password" type="text" placeholder="不是太难记得密码" required/>
                    </div>
                </div>
                <button id="id-button-register" class="vi-button-big">注册🍌</button>
            </div>
            <div id="id-div-login">
                <div class="vi-form-textinput">
                    <div class="vi-input-wrapper">
                        <input id="id-input-login-username" type="text" placeholder="您的用户名  (没有请点击注册)" required/>
                    </div>
                    <div class="vi-input-wrapper">
                        <input id="id-input-login-password" type="text" placeholder="您的密码" required/>
                    </div>
                </div>
                <button id="id-button-login" class="vi-button-big">进入🏃</button>
            </div>
        </div>
    </div>
    <div class="vi-content">
        <div class="vi-content-item">
            <a href="http://www.wangweikang.win/blog" target="_blank"><img class="vi-img-circle" src="../static/img/doge.gif" alt="Generic placeholder image" width="180" height="180"></a>
            <h2><a href="http://www.wangweikang.win/blog" target="_blank">博客</a></h2>
        </div>
        <div class="vi-content-item">
            <a href="http://www.wangweikang.win/weibo" target="_blank"><img class="vi-img-circle" src="../static/img/doge1.jpg" alt="Generic placeholder image" width="180" height="180"></a>
            <h2><a href="http://www.wangweikang.win/weibo" target="_blank">留言</a></h2>
        </div>
        <div class="vi-content-item">
            <a href="http://www.wangweikang.win/todo" target="_blank"><img class="vi-img-circle" src="../static/img/doge2.gif" alt="Generic placeholder image" width="180" height="180"></a>
            <h2><a href="http://www.wangweikang.win/todo" target="_blank">TODO</a></h2>
        </div>
    </div>
</body>

</html>
